!!! 5
%html
  %head
    %title
      Configuration
  %body
    %form{:method => "post", :action => "/config"}
      %p Please select an AI difficulty:
      %label
        %input{:type => "radio", :name => "difficulty", :value => 20, :id => "hard"}
        Hard
      %label
        %input{:type => "radio", :name => "difficulty", :value => 1, :id => "easy"}
        Easy
      %p Please select the first player:
      %label
        %input{:type => "radio", :name => "first_player", :value => "human", :id => "human"}
        Human
      %label
        %input{:type => "radio", :name => "first_player", :value => "computer", :id => "computer"}
        Computer
      %input{:value => "submit", :type => "submit"}
