!!!5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="not_found.css")
    %title
      = "Game #{@game} not found"
    %body
      .not_found
        %p = "Game:#{@game} is not the game you're looking for!"
