!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css") 
    %title
      Tic Tac Toe
  %body
    %h1
      Welcome to the Tic Tac Toe duet between Sinatra and Python
    %p
      Visit the <a href="/config">configuration page</a> to get set up or just play with the defaults. 
    %p
      You're X!
      When you're ready to play, click a move
    #buttons
      %form{:method => "post", :action => "/move"}
        %div=ButtonPresenter.render(request.cookies,9)
      %br
      %form{:method => "get", :action => "/clear"}
        %input{:value => "Reset", :type => "submit"}
    %p=Winner.render_if_winner(request.cookies)
