!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css") 
    %title
      Tic Tac Toe
  %body
    %h1
      Welcome to the Tic Tac Toe duet Sinatra and Python
    %p
      You're X!
      When you're ready to play, click a move
    #buttons
      %form{:method => "post", :action => "/move"}
        %div=ButtonPresenter.render(@board,9)
      %br
      %form{:method => "get", :action => "/clear"}
        %input{:value => "Reset", :type => "submit"}

    %p=Winner.render_if_winner(@board)
